<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=title%></title>
</head>
<body>
<h1>这里是session测试 主系统</h1>
<p><a href="/son1">点击进入子系统1</a></p>
<p><a href="/son2">点击进入子系统2</a></p>
<p><a href="/son3">点击进入子系统3</a></p>
</body>
</html>